@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --primary-color: #0067FF;
    --light-gray-color: #8B96A5;
    --dark-gray-color: #505050;
    --dark-color: #1C1C1C;
    --white-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #F7FAFC;
}

/* ========== GENERAL STYLES ========= */

.container{
    width: 80%;
    margin: 0 auto;
}

.text-muted{
    font-size: 16px;
    font-weight: 400;
    color: var(--light-gray-color);
}

.text-normal{
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
}

.text-dark{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-color);
}

.text-red{
    color: red;
}

.uil{
    color: var(--dark-gray-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* ========= NAVBAR ========== */

nav{
    width: 100%;
    padding: 15px 0;
    border: 1px solid rgb(219, 219, 219);
    background-color: var(--white-color);
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2 a{
    font-size: 26px;
    color: #8CB7F5;
    font-weight: 500;
    padding-left: 10px;
}

.search-bar{
    background: var(--white-color);
    border-radius: 6px;
    border: 1.5px solid var(--primary-color);
    padding-left: 10px;
}

.uil-search{
    color: var(--light-gray-color);
}

.search-bar input[type="search"]{
    background: transparent;
    width: 20vw;
    border: none;
    outline: none;
    padding: 10px;
}

.btn-search{
    width: 100px;
    height: 40px;
    background: var(--primary-color);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    transition: 500ms;
}

.btn-search:hover{
    background: #127FFF;
}

.about-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.uil-user{
    padding-left: 22px;
}

.uil-comment-alt-chart-lines{
    padding-left: 30px;
}

.uil-heart{
    padding-left: 25px;
}

.uil-shopping-bag{
    padding-left: 27px;
}

.about-user p a{
    font-size: 12px;
    font-weight: 400;
    color: var(--light-gray-color);
    padding-left: 15px;
}

/* ============ nav-bottom ========== */

.nav-bottom{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 auto;
    padding-top: 20px;
}

.nav-items li a{
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 400;
    transition: 500ms;
}

.nav-items li a:hover{
    color: var(--light-gray-color);
}

.region{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 auto;
    padding-top: 20px;
}

/* =========== MAIN =========== */

main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    width: 1180px;
    height: 400px;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.categories{
    padding: 20px 0px 20px 30px;
}

.categories li{
    font-size: 16px;
    color: var(--dark-gray-color);
    font-weight: 400;
    padding: 7px;
}

.first-item{
    color: var(--dark-color);
    background: #E5F1FF;
    border-radius: 5px
}

/* slider */

.slider{
    position: relative;
    width: 665px;
    overflow: hidden;
}

.slider_images{
    display: flex;
    align-items: center;
    transition: all ease-in 1s;
}

.slider_btn_prev{
    position: absolute;
    font-size: 70px;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider .uil{
    color: #e9e9e9;
}

.slider_btn_next{
    position: absolute;
    font-size: 70px;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile{
    padding: 0 20px 10px 5px;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px 10px 0;
}

.btn-join{
    width: 180px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 500ms;
}

.btn-join:hover{
    background: var(--white-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-login{
    width: 180px;
    height: 30px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 500ms;
}

.btn-login:hover{
    background: var(--primary-color);
    color: var(--white-color);
}

.sup-1{
    width: 200px;
    height: 90px;
    background: #F38332;
    color: var(--white-color);
    font-size: 10px;
    font-weight: 400;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.sup-2{
    width: 200px;
    height: 90px;
    background: #55BDC3;
    color: var(--white-color);
    font-size: 10px;
    font-weight: 400;
    border-radius: 6px;
    padding: 10px 20px;
}

/* ========= bg-card ======== */

.bg-card{
    width: 80%;
    margin: 0 auto;
    width: 1180px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background: var(--white-color);
    border-radius: 6px;
}

.counter h1{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-color);
}

.countdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.countdown div{
    width: 45px;
    height: 50px;
    background: #606060;
    color: var(--white-color);
    margin: 15px 6px 20px 0px;
    padding-left: 11px;
    border-radius: 4px;
}

.countdown div h1{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

.countdown div p{
    font-size: 12px;
    font-weight: 400;
}

.card p{
    padding-bottom: 20px;
}

/* ========== block-items =========== */

.block-items{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10px;
}

.home-block{
    width: 280px;
    height: 257px;
    background-image: url('/img/main/home-and-outdoor.jpg');
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.8;
}

.home-block-2{
    width: 280px;
    height: 257px;
    background-image: url('/img/main/computer-electronics.jpg');
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.8;
}

.home-block-2 h1{
    font-size: 20px;
    color: var(--dark-color);
    font-weight: 500;
    margin: 40px 0 0 15px;
}

.home-block-2 button{
    width: 123px;
    height: 40px;
    background: var(--white-color);
    border: none;
    border-radius: 4px;
    margin: 13px 0 0 15px;
}

.home-block h1{
    font-size: 20px;
    color: var(--dark-color);
    font-weight: 500;
    margin: 40px 0 0 15px;
}

.home-block button{
    width: 123px;
    height: 40px;
    background: var(--white-color);
    border: none;
    border-radius: 4px;
    margin: 13px 0 0 15px;
}

.block-inner-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 223px;
    height: 127px;
    padding: 10px;
    border-radius: 2px;
    background: var(--white-color);
    border: 1px solid rgb(225, 225, 225);
}

.block-item div p{
    margin-bottom: 5px;
}

/* ======== form-block ======= */

.form-block{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 1180px;
    height: 420px;
    background-image: url('/img/main/Section-inquiry.jpg');
    border-radius: 6px;
    margin-top: 30px;
}

.form-title{
    width: 440px;
    height: 139px;
    color: var(--white-color);
    padding: 0 0 0 20px;
}

.form-title h1{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 10px;
}

.form{
    width: 480px;
    height: 346px;
    background: var(--white-color);
    border-radius: 6px;
    padding: 50px 30px;
}

.form h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-color);
}

.form input[type="text"]{
    width: 350px;
    height: 40px;
    font-size: 16px;
    color: var(--dark-color);
    padding-left: 10px;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form input[type="email"]{
    width: 350px;
    height: 40px;
    font-size: 16px;
    color: var(--dark-color);
    padding-left: 10px;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    outline: none;
    margin-bottom: 40px;
}

.form button{
    width: 128px;
    height: 40px;
    background: var(--primary-color);
    border: none;
    border-radius: 6px;
}

/* ======= recom-items ========= */

.recom-items{
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
}

.recom-items h1{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 40px;
}

.recom-item-blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.recom-item-block{
    width: 220px;
    height: 390px;
    background: var(--white-color);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(225, 225, 225);
}

.recom-item-block p{
    margin-bottom: 5px;
}

.btn-plus{
    width: 40px;
    height: 20px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 2px;
    cursor: pointer;
    transition: 500ms;
}

.btn-plus:hover{
    background: var(--primary-color);
    color: var(--white-color);
}

.btn-count{
    width: 40px;
    height: 20px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 2px;
}

.btn-minus{
    width: 40px;
    height: 20px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 2px;
    cursor: pointer;
    transition: 500ms;
}

.btn-minus:hover{
    background: var(--primary-color);
    color: var(--white-color);
}

.order-block{
    width: 220px;
    height: 300px;
    background: var(--white-color);
    border: 1px solid rgb(225, 225, 225);
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.order-block input{
    width: 200px;
    height: 35px;
    border: 1px solid rgb(225, 225, 225);
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
}

.order-block input[type="text"]{
    font-size: 12px;
    color: var(--dark-color);
    padding-left: 10px;
}

.order-block input[type="number"]{
    font-size: 12px;
    color: var(--dark-color);
    padding-left: 10px;
}

.order-block p{
    margin-bottom: 10px;
}

.btn-order{
    width: 100px;
    height: 30px;
    border: none;
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    transition: 500ms;
}

.btn-order:hover{
    background: #127FFF;
}

/* ========== services ========= */

.services{
    width: 80%;
    margin: 0 auto;
}

.services h1{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 40px;
    margin-top: 40px;
}

.services-blocks{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services-block{
    width: 280px;
    height: 200px;
    border: 1px solid rgb(225, 225, 225);
}

.services-block p{
    margin: 10px;
}

/* ========= suppliers-region ========= */

.suppliers-region{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.suppliers-region h1{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 40px;
    margin-top: 40px;
}

.regions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.regions div p{
    margin-left: 10px;
}

.regions div{
    display: flex;
}

/* ======= subs-block ======== */

.subs-block{
    width: 80%;
    margin: 0 auto;
    height: 190px;
    background: #EFF2F4;
    text-align: center;
    margin-top: 100px;
    padding-top: 30px;
    border-radius: 6px;
}

.subs-block h1{
    padding-bottom: 10px;
}

.subs-block p{
    padding-bottom: 10px;
}

.subs-block input[type="email"]{
    width: 274px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
}

.subs-block button{
    width: 110px;
    height: 40px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}

.subs-block button:hover{
    background: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* ======= footer ========= */

footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}

.footer-text p{
    padding-bottom: 20px;
}

footer ul li a{
    color: var(--light-gray-color);
}

footer ul li{
    padding-bottom: 15px;
}

/* ======== modal ======= */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.modal__dialog {
    max-width: 400px;
    margin: 150px auto;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 20px;
    color: #000;
    opacity: .5;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__title {
    text-align: center;
    font-size: 18px;
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 40px;
    background: #fff;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    padding: 0 20px;
    outline: 0;
    border-radius: 5px;
}

.modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto;
    height: 40px;
    background: #fff;
    font-size: 17px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}

.modal .btn:hover{
    background: var(--primary-color);
    color: #fff;
}